@use "../../styles/variables" as *;

.card {
  border: $borderBlue;
  border-radius: $radius;
  padding: 20px;
  background: #141416;
  box-shadow: $shadow;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    border: $borderOrange;
    box-shadow: $shadowHover;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
  font-family: var(--font-roboto), sans-serif;

  @media (max-width: 568px) {
    font-size: 16px;
  }
}

.desc {
  opacity: .85;
  line-height: 1.55;
  font-family: var(--font-roboto), sans-serif;
  
  @media (max-width: 568px) {
    font-size: 14px;
  }
}
