$radius: 16px;
$shadow: 0 8px 24px rgba(0,0,0,.2);
$borderBlue: 1px solid #007BFF;
$borderOrange: 1px solid #FFD700;

// ---- shadow ----
$shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 123, 255, 0.2); // синя мʼяка тінь
$shadowHover: 0 6px 16px rgba(0, 0, 0, 0.6), 0 0 15px rgba(255, 215, 0, 0.4); // золота при наведенні

// ----  Colors ----
