@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/reset.scss" as *;

:root {
  --bg: #0f0f10;
  --text: #e4e4e4;
  --accent: #ffb200;
  --font-base: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

a {
  color: inherit; 
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px 20px;

  h1 {
    font-family: var(--font-exo2), sans-serif;
  }
}

.main {
  min-height: calc(100vh - 57px);
  background: radial-gradient(circle at bottom right, rgba(0, 90, 255, 0.15), rgba(10, 10, 15, 1));
}
